{% extends "base.html" %}

{% block title %}About | Pirogram{% endblock %}

{% block bodyclass %}single column{% endblock %}
{% block content %}

{% filter markdown %}
## About Pirogram

We generally think of books in terms of their structure and the their content. Great content makes great books. However, what we often miss is what happens around books. A teacher's way of interpreting the subject matter to his/her students. A student's attention on the book as he/she tries to grasp the subject matter. And the struggle. The struggle with exercises to get past them. And then validating solutions with other students or with the teacher. And then comes the assessment from the teacher. Have you really learnt anything? And at one point, the student graduates which essentially means mastery over the subject.

Pirogram is about books on technology. These books offer great content. And then there is an effort to capture and streamline everything that happens around the book. We call these books _CodeBooks_.

## Contact

Pirogram is run by [Manas Garg](https://www.linkedin.com/in/manasgarg/) and [Vaishali Garg](https://www.linkedin.com/in/vaishali-garg-26b70b1a/). You can reach out to us on <a href="mailto:hi@pirogram.com">hi@pirogram.com</a>.

{% endfilter %}
{% endblock %}