{% extends "base.html" %}

{% block title %}About | Pirogram{% endblock %}

{% block bodyclass %}single column{% endblock %}
{% block content %}

{% filter markdown %}
## About Pirogram

We believe that the best way to learn programming is how we all learnt math in school days:
* gradual build up of the subject - one concept at a time.
* focus on examples and exercises rather than endless explanations.

Having said that, the math education in schools is devoid of "the context". _"Why am I solving this problem again?"_ Comparatively speaking, it's very easy to bring context to programming education. While learning programming, we can focus on problems that a student can connect with. It could be a funky alarm clock that runs on Raspberry Pi or the Connect 4 game or a chat application, students can see the utility of what they are working on.

At present, we use Pirogram to help kids learn programming. Choice of words is important: it's not about "teaching programming to kids", it's about "helping kids learn programming". We give them the context, walk them through the examples mentioned in Pirogram and ask them to solve the problems therein. We unblock them when they can't solve a problem.

However, from a big picture perspective, we are:
* Building the textbook like material to learn programming. Just like the ones you probably used (or are using) in school. Current focus is only examples and exercises; will add explanations later.
* Figuring out the right structure to go through that material that's better aligned with the student's needs (flexible schedule, reamining unblocked, revisiting old concepts when confusion arises etc) rather than teacher's needs (batching, fixed schedule etc).

We don't believe in dumbing down the subject to make it appeal to a wider audience or to lower the barrier. We are quite old school that way. There is only one way to learn programming - solve a variety of problems and solve lots of them. Our experience so far is that kids are smart. Once they have the context, they can do far more than what we thought was possible. But context is important; they should know why they are solving that problem.

## About The Team

Pirogram was founded by two individuals who also happen to be life-long partners: [Vaishali Garg](https://www.linkedin.com/in/vaishali-garg-26b70b1a/) and [Manas Garg](https://www.linkedin.com/in/manasgarg/).

## Contact

You can reach out to us on <a href="mailto:hi@pirogram.com">hi@pirogram.com</a>.

{% endfilter %}
{% endblock %}