{% extends "base.html" %}

{% block title %}About | Pirogram{% endblock %}

{% block bodyclass %}single column{% endblock %}
{% block content %}

{% filter markdown %}
## About Pirogram

It's ironical that the field of Technology Education itself has remained by and large untouched by the advancements in Technology. Today, there is a full spectrum of offerings in the technology education space starting from fully self-serve to fully lecture-oriented. There are talented individuals and committed organizations trying to make a difference. However, getting good at any sub-field of technology is extremely challenging even for the professionals; let alone a student who is yet to make a career out of this field.

Anyone trying to pick up a new technology must deal with not only the inherent complexity of the field (conceptual models, real world problems, new way of thinking etc) but also accidental complexity of the field (hype & jargon, trainings that over promise, unrealistic expectation about timeline, fragmented material etc).

Pirogram was created in response to these prevailing problems in Technology Education. To make Technology Education simple (not easy; simple). While we have our eyes on a grandiose goal, we must unpack this problem and solve it one chunk at a time. A journey of thousand miles begins with a small step; and this website is our small step.

Our current focus is two-fold:
* Provide high quality problem sets to students so that they can practise what they have learnt. After all, programming is like mathematics, the more you practise, the better you get at it. Think of this part as the "Common Core of K12 Education".
* Provide a social space where students can be mentored by people who know more. These mentors can look at the solutions submitted by their mentees and provide feedback or suggest next problem sets.

Over a period of time, we aim to achieve a large collection of high quality problem sets and a group of mentors who are qualified to guide newcomers. From that point, we'll figure out the next steps in our journey...

## About The Team

Pirogram was founded by two individuals who also happen to be life-long partners: [Vaishali Garg](https://www.linkedin.com/in/vaishali-garg-26b70b1a/) and [Manas Garg](https://www.linkedin.com/in/manasgarg/). It's also advised by two awesome individuals: [Pradeep Chopra](https://www.linkedin.com/in/pradeepchopra/) and [Kapil Nakra](https://www.linkedin.com/in/kapilnakra/) who have tons of experience in this space.

## Contact

You can reach out to us on <a href="mailto:hi@pirogram.com">hi@pirogram.com</a>.

{% endfilter %}
{% endblock %}