<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/site.css">
    <link rel="stylesheet" type="text/css" href="/static/highlight-themes/github.css">
    <script type="text/javascript">
        window.initialStore = {{initialStore|safe}};
    </script>

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <div id="turtle-header" class="ui container">{{headerHtml|safe}}</div>

    {% set messages = getFlashMessages(session) %}
    {% if messages %}
        <div class="flash messages ui container">
            {% for m in messages %}
            <div class="ui {{m.category}} message">
                <!-- <i class="close icon"></i> -->
                <p>{{m.message}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="ui hidden divider"></div>
    {% endif %}

    {% block maincontent %}
        {% block maincontent_head %} {% endblock %}
        <div class="ui container content">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    <div class="ui hidden divider"></div>
    <div class="ui container footer">
        <div class="ui text menu">
            <a class="ui item tiny-font" href="/about">About</a>
            <div class="ui right item">
                <a class="ui item tiny-font" href="/privacy">Privacy</a>
                <a class="ui item tiny-font" href="/terms-of-service">Terms of Service</a>
            </div>
        </div>
    </div>

    <script src="/static/js/client_bundle.js?hash={{client_bundle_hash}}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89569097-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-89569097-1');
    </script>
</body>
</html>