{% extends "base.html" %}

{% block title %}Update Account | Pirogram{% endblock %}

{% block bodyclass %}single column{% endblock %}

{% block content %}
<h1>Update Account</h1>
<form method='POST' class="ui form {% if errors %}error{% endif %}" enctype='multipart/form-data'>
    <div class="field">
        <label>Username</label>
        <input type=text name=username placeholder=Username value="{{username}}"/>
        {% if errors.username %}
            <div class="ui error message tiny">{{errors.username}}</div>
        {% endif %}
    </div>

    <div class="field">
        <label>Blurb</label>
        <textarea name=blurb>{{blurb}}</textarea>
        {% if errors.blurb %}
            <div class="ui error message tiny">{{errors.blurb}}</div>
        {% endif %}
    </div>

    <div class="field">
        <label>Image</label>
        <input type=file name=image />
    </div>

    <div class="field">
        <button class="ui primary button" type="submit">Save</button>
    </div>
</form>

<div class="ui section horizontal divider header">Password</div>

{% if user.password %}
    <form method="POST" class="ui form {% if errors %}error{% endif %}" action="/account/password">
        <div class="field">
            <label>Current Password</label>
            <input type=password name=current placeholder="Current Password" />
        </div>
        <div class="field">
            <label>New Password (at least 8 chars)</label>
            <input type=password name=newPassword1 placeholder="New Password" />
        </div>
        <div class="field">
            <label>Re-enter New Password</label>
            <input type=password name=newPassword2 placeholder="Re-enter New Password" />
        </div>
        <div class="field">
            <button class="ui primary button" type="submit">Change Password</button>
            <a href="/account/reset-password-link-request">Forgot Current Password?</a>
        </div>
    </form>
{% else %}
    <p>In order to set a password, please generate a unique url for setting password.</p>
    <form method="POST" class="ui form" action="/account/reset-password-link-request">
        <div class="field">
                <button class="ui secondary button" type="submit">Generate Password Reset Link</button>
        </div>
    </form>
{% endif %}

<div class="ui section horizontal divider header">Delete Account</div>

<p>In case you wish to part ways, you can delete your account. We'll remove all personal information about you from the site.</p>

<p>
    <a href="/account/delete" class="ui button">Delete Account</a>
</p>
{% endblock %}