{% extends "base.html" %}

{% block title %}Pirogram{% endblock %}

{% block bodyclass %}single column{% endblock %}

{% block content %}

<div class="ui info message">
    <div class="header">Pirogram is in Beta</div>
    <p>If this is your first time around here, please <a href="/about">read the about section</a>.</p>
    <p>To get going, please login using your GitHub or Google account.</p>
    <a href="/login-with-github" class="ui primary button">Login with GitHub</a>
    <a href="/login-with-google" class="ui secondary button">Login with Google</a>
</div>
{% endblock %}