{% extends "base.html" %}

{% block title %}Create New Module{% endblock %}

{% block maincontent %}
<h1>Create New Module</h1>

<form class='ui form' id='toc-create-form' method=POST enctype="multipart/form-data">
    <div class='six wide field'>
        <label>Name</label>
        <input type='text' name='name' placeholder='Module Name' value='{{name}}'>
    </div>
    <div class='six wide field'>
        <label>Slug</label>
        <input type='text' name='slug' placeholder='module-slug' value='{{slug}}'>
    </div>

    <!-- <div class='ten wide field'>
        <label>Table of Contents</label>
        <textarea style='display:none' name='toc' id='toc-textarea'></textarea>
        <div id=toc class='monaco-wrapper' style='height:500px;border:1px solid rgba(34,36,38,.15);border-radius:.25rem'>{{tocYaml}}</div>
    </div> -->

    <button class='ui button primary' type=submit>Create</button>
    &nbsp; <a class="ui button" href="/modules">Cancel</a>
</form>

{#
<script src="/static/js/vs/loader.js"></script>
<script>
	require.config({ paths: { 'vs': '/static/js/vs' }});
	require(['vs/editor/editor.main'], function() {
		window.tocEditor = monaco.editor.create(document.getElementById('toc'), {
			value: '',
            language: 'yaml',
            theme: 'vs-light',
            lineNumbers: false,
            scrollBeyondLastLine: false,
            horizontalHasArrows: true,
            horizontal: 'visible',
            minimap: {enabled: false},
            fontSize: 13,
            fontFamily: 'Monaco'
		});
    });
    
    document.getElementById('toc-create-form').addEventListener('submit', function(e) {
        document.getElementById('toc-textarea').innerHTML = window.tocEditor.getValue();
    });
</script>
#}
{% endblock %}