{% extends "base.html" %}

{% block title %}Privacy | Pirogram{% endblock %}

{% block bodyclass %}single column{% endblock %}

{% block content %}

{% filter markdown %}
# Privacy Policy

Before we get into the legal yada yada, let's talk about our principles. Our experience is that legal language is hard to decipher and usually covers such a broad spectrum of possibilities that it's hard to know where it would lead. So, here are our guiding principles. They are as much for you as they are for our own future selves.

* First principle applies to how we collect and use data. Behave as if our grandparents, our siblings and our kids were our users. They all are vulnerable in different ways and we must be on their side when making privacy related decisions.
* Second principle applies to how we share data with other parties (including our partners). So, we share as little information with other parties as possible. And when we share, we must go to great lengths to ensure that the use of information would be in line with our first principle.

Now, let's get going with the actual policy.

## Preamble

Last updated: Feb 18, 2018

When we talk about our service, we mean https://www.pirogram.com. This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.

We will not use or share your information with anyone except as described in this Privacy Policy. We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.

## Information Collection and Use

We collect personally identifiable information about you. This information is used to communicate with you in different ways. We can share this information with our partners as long as it does not violate our guiding principles.

Also, we are a social space. People can see each other's activities and how they are progressing through the educational material on our site. You have the option to modify information like your profile picture and username etc. This way, you can mask your identity when it is shared in the activity feed on our site.

We give you the freedom to choose your username on our Service. And hence, we do not treat it as PII.

## Logs

We log quite a bit of information as people use our service. These logs are devoid of PII. The information includes but is not limited to IP, Browser, URL, time spent on page etc.

## Cookies

We use cookies. We also use third party analytics services such as (but not limited to) Google Analytics. You can turn off cookies from your browser settings. If you turn off cookies, you'll not be able to use our Service.

## Security

While we'll try our best to secure your PII, we cannot guarantee that it would never be compromised or that it would always stay in safe hands.

## International Transfer

Your information could be transferred to any country or jurisdiction in the world.

## Changes to this Policy

We can make changes to this policy from time to time. When we change the policy, we may or may not explicitly inform you. This page would get updated on every update to the policy and your continued use of the Service would mean that you are ok with the changes.
{% endfilter %}
{% endblock %}