{% extends "base.html" %}

{% block title %}Reset Password | Pirogram{% endblock %}

{% block bodyclass %}single column{% endblock %}

{% block content %}
<h1>Reset Password</h1>

<form method="POST" class="ui form {% if errors %}error{% endif %}">
    <div class="field">
        <label>New Password (at least 8 chars)</label>
        <input type=password name=newPassword1 placeholder="New Password" />
    </div>
    <div class="field">
        <label>Re-enter New Password</label>
        <input type=password name=newPassword2 placeholder="Re-enter New Password" />
    </div>
    <div class="field">
        <button class="ui primary button" type="submit">Change Password</button>
    </div>
</form>


{% endblock %}