{% extends "base.html" %}

{% block title %}Terms of Service | Pirogram{% endblock %}

{% block bodyclass %}single column{% endblock %}

{% block content %}

{% filter markdown %}
# Terms of Service

By using Pirogram (i.e. the website https://www.pirogram.com), you agree to be bound by these terms. These terms apply to all who access the Service.

Here are our terms:

* Be respectful to the people who created educational content hosted on this Service.
* Be respectful to mentors on the site. Do not share the solutions of exercises in any form anywhere. Let the mentors and mentees figure out the best way to work with each other.
* Be respectful to other users of the Service.

The content hosted on Pirogram is created by users of the Service. If you find a copyright violation (or any other problem), please write to us on <a href="mailto:hi@pirogram.com">hi@pirogram.com</a>.

## Content Policy

All content on Pirogram is available under [CC-BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/) license. By contributing any content to Pirogram, you agree that the content is perpetually and irrevocably licensed to Pirogram under the [CC-BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/) license.

{% endfilter %}
{% endblock %}
