{% extends "base.html" %}

{% block title %}Edit ToC - {{m.name}}{% endblock %}

{% block maincontent %}
<h1>Edit ToC</h1>

<form class='ui form' id='toc-update-form' method=POST enctype="multipart/form-data">
    <div class='ten wide field'>
        <label>Table of Contents</label>
        <textarea style='display:none' name='tocAsText' id='toc-textarea'>{{tocAsText}}</textarea>
        <div id=toc class='monaco-wrapper' style='height:500px;border:1px solid rgba(34,36,38,.15);border-radius:.25rem'></div>
    </div>

    <button class='ui button primary' type=submit>Update</button>
    &nbsp; <a class="ui button" href="/modules/{{m.slug}}">Cancel</a>
</form>

<script src="/static/js/vs/loader.js"></script>
<script>
	require.config({ paths: { 'vs': '/static/js/vs' }});
	require(['vs/editor/editor.main'], function() {
		window.tocEditor = monaco.editor.create(document.getElementById('toc'), {
			value: '',
            language: 'text',
            theme: 'vs-light',
            lineNumbers: false,
            scrollBeyondLastLine: false,
            horizontalHasArrows: true,
            horizontal: 'visible',
            minimap: {enabled: false},
            fontSize: 13,
            fontFamily: 'Monaco'
        });
        
        window.tocEditor.setValue( document.getElementById('toc-textarea').innerText);
    });
    
    document.getElementById('toc-update-form').addEventListener('submit', function(e) {
        document.getElementById('toc-textarea').innerHTML = window.tocEditor.getValue();
    });
</script>
{% endblock %}