<h4 class="ui header">{{m.name}}
{% if user.superuser %}
        <a href='/module/{{m.slug}}/toc-edit'><i class='edit icon'></i></a> 
        <!-- <a href='/module/{{m.slug}}/download'><i class='icon download'></i></a> -->
{% endif %}</h4>
<div class="ui vertical text menu">
    {% for main_topic in tocTopics %}
        <a class="{% if topic_slug == main_topic.slug %}active{% endif %} item" href="/topic/{{m.slug}}/{{main_topic.slug}}">
            <b>{{main_topic.tocName}}</b></a>
        <div class="content menu">
            {% for child_topic in main_topic.topics %}
                <a class="{% if topic.slug == child_topic.slug %}active{% endif %} item" href="/topic/{{m.slug}}/{{child_topic.slug}}">
                    <i class="icon {% if topic.slug == child_topic.slug %}arrow right{% elif child_topic.done %}checkmark{% else %}wait{% endif %}"></i>{{child_topic.tocName}}</a>
            {% endfor %}
        </div>
    {% endfor %}
</div>