{% extends "base.html" %}

{% block title %}Edit - {{title}}{% endblock %}

{% block content %}

<div class="ui left rail toc">
    {% include "toc.html" %}
</div>

<div id="topic-editor">{{topicEditorHtml|safe}}</div>

{#
<form topic_slug="{{topic_slug}}"
      class="ui topic form {% if form.errors %}error{% endif %}"
      method="POST" enctype='multipart/form-data'>
    {% if form.errors %}
        <div class="ui error message">
            <div class="header">Please fix the issue(s):</div>
            <ul class="list">
                {% for field_name, errors in form.errors.items() %} {% for error in errors %}
                    <li>{{field_name}} - {{error}}</li>
                {% endfor %} {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="field">
        <label>Title</label>
        <input name="title" placeholder="Title" type="text"
               value="{% if title %}{{title}}{% else %}{{topicSlug}}{% endif %}">
    </div>

    <div class="field">
        <label>Content in Markdown (<a href="#" class="make full screen">Make Full Screen</a>)</label>
        <div class="ace-wrapper">
            <div id="topic-markdown">{% if markdown %}{{markdown}}{% endif %}</div>
        </div>
    </div>

    <div class="hide field"><textarea name="markdown"></textarea></div>

    <div class="field">
        <div class="ui tiny draft-save notification"></div>
    </div>

    <div class="fields">
        <div class="field">
            <button class="ui primary tiny submit button" type="submit" name="save">Save</button>
        </div>

        <div class="field">
            <!--<button class="ui small button">Discard</button>-->
            <button class="ui tiny submit button" type="submit" name="discard">Discard</button>
        </div>
    </div>
</form>
#}

{% endblock %}