{% extends "base.html" %}

{% block title %}{{topic.meta.title}} - {{p.meta.title}}{% endblock %}

{% block content %}

<div class='ui grid'>
    <div class='four wide column topic-meta'>
        <div class='toc'>
            <div class='ui secondary vertical pointing menu'>
                <div class='header item'>
                    <i class='icon {% if p.meta.done %}green checkmark{% else %}wait{% endif %}'></i>{{p.meta.index}}. &nbsp;{{p.meta.title}}
                </div>
                {% for t in p.topics %}
                    <a class='{% if t.meta.code == topic.meta.code %}active {% endif %}item' href='/@{{p.meta.code}}/{{t.meta.code}}'><i class='icon {% if topic.meta.code == t.meta.code %}left arrow{% elif t.meta.done == true %}green checkmark{% else %}wait{% endif %}'></i>{{t.meta.index}} &nbsp;{{t.meta.title}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='twelve wide column topic-content'>
        <h1>{{topic.meta.index}} &nbsp;{{topic.meta.title}}</h1>
        <div class="ui mini breadcrumb">
            <a class="section" href='/book/{{p.book.code}}'>{{p.book.title}}</a>
            <i class='right angle icon divider'></i>
            <a class="section" href='/'>{{p.meta.index}}. &nbsp;{{p.meta.title}}</a>
            <i class='right angle icon divider'></i>
            <div class='section'>{{topic.meta.index}} &nbsp;{{topic.meta.title}}</div>
        </div>


        <div id='topic-content' style='margin-top: 1em;'>
            {{topicHtml|safe}}
        </div>
        <div class="ui hidden divider"></div>
        <div>
            {% if nextTopic %}
                <a href="/@{{p.meta.code}}/{{nextTopic.meta.code}}" class="ui primary tiny right floated button">{{nextTopic.meta.title}} &rarr;</a>
            {% endif %}
            {% if prevTopic %}
                <a href="/@{{p.meta.code}}/{{prevTopic.meta.code}}" class="ui tiny left floated button">&larr; {{prevTopic.meta.title}}</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="ui hidden clearing divider"></div>

{% endblock %}