{% extends "base.html" %}

{% block title %}Edit - {{name}}{% endblock %}

{% block content %}

<div class="ui left rail toc">
    {% include "toc.html" %}
</div>

<h1>Edit Topic</h1>

<form class="ui topic form" id='topic-update-form' method="POST" encType='multipart/form-data'>
    <div class="field">
        <label>Name</label>
        <input name="name" placeholder="Name" type="text" value="{{name}}">
    </div>

    <div class="field">
        <label>ToC Name</label>
        <input name="tocName" placeholder="ToC Name" type="text" value="{{tocName}}">
    </div>

    <div class="field">
        <label>Slug</label>
        <input name="slug" placeholder="slug" type="text" value="{{slug}}">
    </div>

    <div class="field">
        <label>Content in Structured Markdown</label>
        <textarea style='display:none' name='rawContent' id='raw-content-textarea'>{{rawContent}}</textarea>
        <div id='raw-content' class='monaco-wrapper' style='height:600px;border:1px solid rgba(34,36,38,.15);border-radius:.25rem'></div>
    </div>

    <div class="fields">
        <div class="field">
            <button class="ui primary tiny submit button" type="submit" name="save">Save</button>
        </div>
        <div class="field">
            <button class="ui tiny submit button" type="submit" name="discard">Discard</button>
        </div>
    </div>
</form>

<script src="/static/js/vs/loader.js"></script>
<script>
	require.config({ paths: { 'vs': '/static/js/vs' }});
	require(['vs/editor/editor.main'], function() {
		window.topicEditor = monaco.editor.create(document.getElementById('raw-content'), {
            wrappingColumn: 80,
            wordWrap: "wordWrapColumn",
            wrappingIndent: "same",
			value: '',
            language: 'text',
            theme: 'vs-light',
            lineNumbers: false,
            scrollBeyondLastLine: false,
            horizontalHasArrows: true,
            horizontal: 'visible',
            minimap: {enabled: false},
            fontSize: 13,
            fontFamily: 'Monaco'
        });
        
        window.topicEditor.setValue( document.getElementById('raw-content-textarea').innerText);
    });
    
    document.getElementById('topic-update-form').addEventListener('submit', function(e) {
        document.getElementById('raw-content-textarea').innerHTML = window.topicEditor.getValue();
    });

    function preventUnload() {
        if( document.getElementById('raw-content-textarea').innerHTML != window.topicEditor.getValue()) {
            return "You have unsaved changes.";
        } else {
            return null;
        }
    }
</script>

<style>
    body {
        -ms-touch-action: none;
        touch-action: none;
    }
</style>

{% endblock %}