@media only screen and (min-width: 960px) {
    .ui.container {
        width: 960px;
    }
}

@media only screen and (min-width: 720px) {
    .single.column .ui.container {
        width: 720px;
    }
}

.ui.vertical.text.menu a.item {
    padding: 0.25rem 0;
}

.pirogram-header {
    border-bottom: 1px solid rgba(34,36,38,.15);
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.footer {
    border-top: 1px solid rgba(34,36,38,.15);
    margin-top: 1rem;
}

.pirogram-header .ui.text.menu, .footer .ui.text.menu {
    margin: 0;
}

.pirogram-header > .ui.text.menu  .item {
    padding: .3125em 1em;
}

.pirogram-header > .ui.text.menu  .item.not.last {
    border-right: 1px solid rgba(34,36,38,.15);
}

.pirogram-header > .ui.text.menu > .item:hover {
    background-color: white;
}

.pirogram-header img.logo {
    width: 160px;
}

.hide {
    display: none;
}

.tiny-font {
    font-size: 0.8rem;
}

.small-font {
    font-size: 0.9rem;
}

.monaco-editor .inputarea {
    opacity: 0;
}

.monaco-editor-shell {
    border: 1px solid #dae3f1;
    border-radius: 0.25rem;
    padding: 4px;
}

/*
.monaco-editor-shell .monaco-editor .view-overlays .current-line {
    border: none;
}*/

.monaco-editor-shell .monaco-editor .view-overlays.focused .current-line {
    background-color: #f1f5fb;
}

.monaco-editor .margin-view-overlays .line-numbers {
    color: #d88947;
}

.code-playground {
    margin: 1em 0;
    position: relative;
}

.code-playground .output, .code-playground .input-required {
    padding: 0.5em 1em;
    border-top: 1px solid rgba(34,36,38,.15);
    position: relative;
}

.code-playground .tests {
    padding: 0.5em 1em;
    border-top: 1px solid rgba(34,36,38,.15);
    position: relative;
    /*background-color: rgba(241, 245, 251, 0.4);*/
}

.code-playground .output pre {
    margin: 0;
    color: #555;
    white-space: pre-wrap;
    word-break: break-all;
}

.code-playground .code-editor {
    padding: 0.5em;
    /*background-color: #f1f5fb; */
    position: relative;
}

.code-playground .code-status {
    padding: 0.5em 1em;
    border-top: 1px solid rgba(34,36,38,.15);
    position: relative;
}

.code-playground .code-status.error {
    background-color: #fff6f6;
    color: #9f3a38;
}

.practise-area {
    margin-bottom: 2em;
}

.practise-area .code-playground {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 4px;
}

.code-playground .tests pre {
    line-height: 20px;
    margin: 0;
    display: inline;
    white-space: pre-wrap;
    word-break: break-all;
}

.code-playground .tests pre div {
    display: inline;
}
/*
.code-playground .monaco-editor .monaco-editor-background, .code-playground .monaco-editor .margin {
    background-color: #ffffff;
}*/

.ui.segment {
    margin-top: 2em;
}

.ui.segment.coding-problem {
    padding-left: 0;
    padding-right: 0;
}

.ui.segment.coding-problem .problem-statement, .ui.segment.coding-problem .submit {
    padding-left: 1em;
    padding-right: 1em;
}

.ui.segment.coding-problem .code-playground {
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.code-playground .block-name {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #dae3f1;
    border-bottom: 1px solid #dae3f1;
    font-size: 0.85em;
    padding: 0 1em;
    border-bottom-left-radius: 4px;
    color: #666;
    z-index: 10;
    background-color:#f1f5fb;
}

.ui.segment div.submit button {
    margin-right: 1em;
}

.ui.segment div.submit span.failed-attempts {
    color: #999;
}

code.hljs {
    background-color: #f1f5fb;
    padding: 1rem;
    margin: 0;
    border-radius: 0.25rem;
    border: 1px solid #dae3f1;
}

p code, li code { /* , .ui.list .list>.item>.content code, .ui.list>.item>.content code { */
    background-color: #f1f5fb;
    padding: 0 0.25rem;
    border-radius: 2px;
    color: #96541D;
}

h1 span.toolbar, h2 span.toolbar, h3 span.toolbar, h4 span.toolbar {
    font-weight: normal;
    font-size: 0.85rem;
    margin-left: 1em;
}

h1 span.toolbar a.action, h2 span.toolbar a.action, h3 span.toolbar a.action, h4 span.toolbar a.action {
    margin: 0 0.5em;
}

.ui.card.package-summary {
    font-size: 90%;
}

.toc .ui.secondary.vertical.pointing.menu .item {
    font-size: 0.9em;
    line-height: 1.5;
    padding: 0.6em 1.125em;
}

.toc .ui.vertical.menu {
    width: 100%;
}


.toc .ui.vertical.menu .header.item {
    background-color: #E7EEEE;
    font-weight: normal;
}

.toc .ui.vertical.menu .book.item {
    background-color: #C3D5D5;
}

.toc .ui.vertical.menu .book.item:hover {
    background-color: #C3D5D5;
}

.topic-meta .author {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 0.9em;
    font-weight: normal;
}

.right.floated {
    float: right;
}

.ui.form.quiz .fields .wide.field {
    padding-left: 0;
}

.topic-sections .html-content {
    overflow-x: scroll;
}

.ansi-blue-fg {
    color: #5829bb;
}

.ansi-red-fg {
    color: #DB2828;
}

.ansi-green-fg {
    color: #2C8848;
}

.ansi-cyan-fg {
    color: #3ac0ff;
}

div.ipython-html {
    font-size: 0.8em;
    overflow-x: scroll;
    white-space: pre;
}

.package.tree .ui.list>.item>.content {
    line-height: 1.25em;
}

.package.tree .ui.list>.item {
    margin-top: 1em;
}

.package.tree .ui.list >.item:first-child {
    margin-top: 0;
}

.package.tree .ui.list .horizontal.list>.item {
    margin-top: 0;
}

.package.tree .ui.horizontal.list {
    padding-top: 0;
    margin-top: 0;
    font-size: 0.75em;
    line-height: 0.75em;
    color: rgba(0,0,0,.4);
}

.package.tree .ui.horizontal.bulleted.list>.item::before, .package.tree ul.ui.horizontal.bulleted.list li::before {
    color:rgba(0,0,0,.4);
}

.exercise .ui.label > a {
    color: #000;
}

div.ui.segment:target {
    border: 1px solid #fbad1e;
}

div.ui.segment:target div.ui.label {
    background-color: #fbad1e;
}

.activities .ui.feed>.event>.content .extra.text {
    max-width: 100%;
}