.ui.container.full.estate {
    max-width: 960px !important;
}

.ui.container.content.estate {
    position: relative;
    margin-left: 232px !important;
    width: auto;
}

.ui.container.content.estate > .toc.left.rail {
    width: 200px;
    margin-top: 4em;
}

.toc.left.rail > .ui.vertical.text.menu {
    width: 200px;
}

.ui.vertical.text.menu a.item {
    padding: 0.25rem 0;
}

.turtle-header {
    border-bottom: 1px solid rgba(34,36,38,.15);
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.turtle-header .ui.text.menu {
    margin: 0;
}

.turtle-header > .ui.text.menu  .item {
    padding: .3125em 1em;
}

.turtle-header > .ui.text.menu  .item.not.last {
    border-right: 1px solid rgba(34,36,38,.15);
}

.turtle-header > .ui.text.menu > .item:hover {
    background-color: white;
}

@media only screen and (min-width: 992px) {
    .turtle-header img.logo {
        width: 300px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .turtle-header img.logo {
        width: 250px;
    }
}

@media only screen and (max-width: 767px) {
    .turtle-header img.logo {
        width: 200px;
    }
}

.hide {
    display: none;
}

.tiny-font {
    font-size: 0.8rem;
}

.small-font {
    font-size: 0.9rem;
}

.monaco-editor .inputarea {
    opacity: 0;
}

.monaco-editor-shell {
    border: 1px solid #dae3f1;
    border-radius: 0.25rem;
    padding: 4px;
}

.monaco-editor-shell .monaco-editor .view-overlays .current-line {
    border: none;
}

.monaco-editor-shell .monaco-editor .view-overlays.focused .current-line {
    background-color: #f1f5fb;
}